/* Styling untuk halaman Story */
body {
    background-image: url('img/story-background.jpg'); /* Ganti dengan gambar latar yang sesuai */
    background-size: cover;
    color: #fff;
    font-family: 'Georgia', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#story-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 15px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

button {
    padding: 15px 30px;
    font-size: 1.5rem;
    color: #282c34;
    background-color: #61dafb;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #21a1f1;
    transform: scale(1.05);
}
